<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <p></p>
            <h1 class="mb-1">CONTROL DE TAREAS</h1>
            <h1></h1>            

            <p></p>
            <p></p>
            <p></p>

            <h3 class="mb-5">
                <em>Registra tareas del centro de computo</em>
            </h3>
        </div>
        <div class="overlay"></div>
    </header>
</main>